@font-face{
	font-family: 'Montserrat-Bold';
	src: url(../fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}
@font-face{
	font-family: 'Montserrat-Regular';
	src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}
@font-face{
	font-family: 'RobotoSlab-Regular';
	src: url(../fonts/Roboto_Slab/RobotoSlab-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}